<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.mapper.CalcMapper">
	<select id="selectAll" resultType="calcDate">
		SELECT 
		 *
		FROM
		 calc_date
	</select>
	
	<select id="selectOne" resultType="calcDate">
		SELECT 
		 *
		FROM
		 calc_date
		WHERE
		　result_id = #{resultId}
	</select>
	
	<insert id="insertCalcOne">
		INSERT INTO calc_date(
			calc_id,
			calc_num_year,
			calc_num_month,
			calc_num_day
			)
		VALUES(
			#{calcId},
			#{calcNumYear},
			#{calcNumMonth},
			#{calcNumDay}
			)	
	</insert>
	
	<update id="updateCalcOne">
		Update calc_date
		SET 
		  calc_id = #{calcId},
		  calc_num_year = #{calcNumYear},
		  calc_num_month = #{calcNumMonth},
		  calc_num_day = #{calcNumDay}
		WHERE
		  result_id = #{resultId}
	</update>
</mapper>

	<!--  -->
