<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/list.css">
    <title></title>
  </head>
  <body>
  	<!-- navar -->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">日付計算アプリ</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/calc">ホーム</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">計算式登録<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">ログアウト</button>	  
	</nav>
	
	<!-- 計算式の登録フォーム -->
	<div class="mt-4 container">
	<div class="bg-primary p-2 text-white bg-opacity-75">
	 <h1 class=h5>計算式更新するよ</h1>	
	 　<form th:method="post" th:object="${calcUpdateForm}"  th:action="@{'/calc/update/'+${resultId}}">　
		 <div class="mb-2 form-group col-md-6">
		 	<input type="hidden" th:field="*{resultId}">
	  		<label for="formGroupCalcUpdate" class="form-label">計算式ID</label>
	  		<input type="text" name="calcUpdateForm" th:field="*{calcId}"  class="form-control" placeholder="#Y#M#D">
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcUpdate" class="form-label">計算年</label>
	  		<input type="text" name="calcUpdateForm" th:field="*{calcNumYear}" class="form-control"  placeholder="yy">
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcUpdate" class="form-label">計算月</label>
	  		<input type="text" name="calcUpdateForm" th:field="*{calcNumMonth}" class="form-control"  placeholder="mm">
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcUpdate" class="form-label">計算日</label>
	  		<input type="text" name="calcUpdateForm" th:field="*{calcNumDay}" class="form-control"  placeholder="dd">
		</div>
		<div class="col-md-4">
	  		<button class="btn btn-outline-light my-4" type="submit">更新</button>	
		</div>
	 </form>
	</div>
	</div>
	

</body>
</html>