<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/list.css">
    <title></title>
  </head>
  <body>
  	<!-- navar -->
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <a class="navbar-brand" href="/calc">日付計算アプリ</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/calc">ホーム</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">計算式登録<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
	  <form th:method="post" th:action="@{/logout}">
		  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">ログアウト</button>
	  </form> 
	</nav>
	
	<!-- 計算式の登録フォーム -->
	<div class="mt-4 container">
	<div class="bg-primary p-2 text-white bg-opacity-75">
	 <h1 class=h5>計算式登録するよ</h1>	
	 　<form th:method="post" th:object="${calcRegistForm}"  th:action="@{/calc/register}">　
		 <div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcRegist" class="form-label" th:text="#{calcId}"></label>
	  		<input type="text" th:field="*{calcId}"  class="form-control" placeholder="#Y#M#D"
	  			   th:errorclass="is-invalid">
	  	<div class="invalid-feedback" th:errors="*{calcId}"></div>
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcRegist" class="form-label" th:text="#{calcNumYear}"></label>
	  		<input type="text" th:field="*{calcNumYear}" class="form-control"  placeholder="yy"
	  			   th:errorclass="is-invalid">
	  	<div class="invalid-feedback" th:errors="*{calcNumYear}"></div>
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcRegist" class="form-label"th:text="#{calcNumMonth}"></label>
	  		<input type="text" th:field="*{calcNumMonth}" class="form-control"  placeholder="mm"
	  			   th:errorclass="is-invalid">
	  	<div class="invalid-feedback" th:errors="*{calcNumMonth}"></div>
		</div>
		<div class="mb-2 form-group col-md-6">
	  		<label for="formGroupCalcRegist" class="form-label" th:text="#{calcNumDay}"></label>
	  		<input type="text" th:field="*{calcNumDay}" class="form-control"  placeholder="dd"
	  			   th:errorclass="is-invalid">
	  	<div class="invalid-feedback" th:errors="*{calcNumDay}"></div>
		</div>
		<div class="col-md-4">
	  		<button class="btn btn-outline-light my-4" type="submit">登録</button>	
		</div>
	 </form>
	</div>
	</div>
	

</body>
</html>