<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>日付計算システム | ログイン</title>
    </head>
    <body class="text-center">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            ユーザIDとパスワードが一致しません。
        </div>
        <div class="alert alert-primary" role="alert" th:if="${param.logout}">
            ログアウトしました。
        </div>
        <h1 class="h5 mt-2 mb-4 font-weight-normal">ログイン</h1>
        <form class="w-25 mx-auto" th:action="@{/login}" method="post">
           	<label for="username" class="sr-only"></label>
           	<input class="form-control my-2" id="username"
           			type="text" name="username" placeholder="ユーザID" 
           			required autofocus/>
           	<label for="password" class="sr-only"></label>
           	<input class="form-control mt-2" id="password"
           			type="password" name="password" placeholder="パスワード" 
           			required/>
           	<input class="btn btn-outline-primary mt-4 mb-3" type="submit" value="Sign In"/>
        </form>
        <a th:href="@{/user/signup}">新規登録はこちら</a>
        <p class="mt-2 mb-3 text-muted">&copy; 2021</p>
    </body>
</html>